@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
$font: "Inter", sans-serif;
:root {
    //background color
    --background: #12141d;
    --background-secondary: #1e2029;

    // text color
    --text-light: #fff;
    --text-gray: #d0d4ea;
}
